<!-- contacts/templates/contacts/list.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
<a href="{% url 'contact_new' %}" class="button-like">Create a New Contact</a>
        <table class="table table-striped" style="margin-top: 20px;">
            <thead>
            <tr>
              <th>Contact Name</th>
              <th style="padding-left: 50px;">Email</th>
              <th style="padding-left: 50px;">Created Time</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
              <tr>
                <td><a href="{% url 'contact_detail' contact.id %}"><span class="glyphicon glyphicon-pencil" ></span></a>
        <a href="{% url 'contact_delete' contact.id %}"><span class="glyphicon glyphicon-trash" style="padding-inline: 5px;"></span></a>
                {{ contact.name }}</td>
                <td style="padding-left: 50px;text-align: left;">{{ contact.email }}</td>
                <td style="padding-left: 50px;text-align: left;">{{ contact.created_time|date:"M j, Y, P" }}</td>
              </tr>
            {% endfor %}
            </tbody>
         </table>
        </div>
    </div>
{% endblock %}